<div id="<%= dom_id project %>" class="card m-2" style="width: 18rem;">
  <h5 class="card-header"><%= project.code %></h5>
  <div class="card-body">
    <p><%= project.name %></p>
    <%= link_to edit_project_path(project), class: "btn btn-sm btn-primary" do %>
      <i class="bi bi-pencil-square"></i>
    <% end %>
    <%= link_to new_project_card_path(project), class: "btn btn-sm btn-primary" do %>
      <i class="bi bi-card-checklist"></i>
    <% end %>

    <% if project.default_board %>
      <%= link_to project_board_path(project, project.default_board), class: "btn btn-sm btn-primary" do %>
        <i class="bi bi-kanban"></i>
      <% end %>
    <% end %>
  </div>
</div>
